.app {
  min-height: 100vh;
  background-color: #1e1e2f;
  color: #dbd8e3
}

.body{
  padding-left: 15%;
  padding-right: 15%;
}

.input{
  width: 100%;
  height: 60px;
  border: 2px solid #2b3553 !important;
  background: transparent !important;
  color: #dbd8e3 !important;
  padding: 15px !important;
  font-size: 17px !important;
  margin-bottom: 20px;
  border-radius: 10px !important;
}

.bread{
  display: flex;
  border-bottom: 2px solid #2b3553 !important;
  margin-bottom: 40px;
  
}

.bread div{
  width: 50%;
}

.bread div h4{
  text-align: right;
}

.button_bread{
  background: transparent !important;
  border: none !important;
  margin-top: 16.5px !important;
  margin-left: -10px !important;
  font-size: 12.5px !important;
  font-weight: 600;
  color: #007ad9 !important
}

.listaVagas{
  display: flex;
}

.fieldVaga{
  width: 20%;
  height: 25vh;
  background-color: #27293d !important;  
  color: #dbd8e3;
  border-radius: 5px !important;
  padding: 20px;
  margin: 10px !important;
  font-size: 27px !important;
  font-weight: bold;
  border: none !important
}

.fieldVaga:hover{
  margin-top: 0px !Important;
  color: '#3f51b5' !important;
  box-shadow: '12px 5px 10px #1e1e2d'
}

.btn_confirmar{
    padding: 10px 20px;
    margin: 20px !important;
    border-radius: 5px !important;
    font-weight: bold;
    color: #dbd8e3 !important
}

.panel_opcoes{
  margin-top: 40px;
  border-top: 2px solid #2b3553;
}

#atendimento{
  display: none;
}

.p-dropdown{
    width: 100%;
    height: 60px;
    border: 2px solid #2b3553 !important;
    background: transparent !important;
    color: #dbd8e3 !important;
    padding: 15px !important;
    font-size: 20px !important;
    margin-bottom: 20px;
    border-radius: 10px !important;
}

.p-dropdown, .p-dropdown-trigger, .p-dropdown-label{
  background: transparent !important;
  color: #dbd8e3 !important;
}

.p-dropdown-panel{
  border: none !important;
  background: #2b3553 !important;  
  border-radius: 10px !important;
}

.p-dropdown-item{
    width: 100%;
    color: #dbd8e3 !important;
    padding: 15px !important;
    font-size: 15px !important;
    border-radius: 10px !important;
}

.p-dropdown-item:hover{
  background: #dbd8e3 !important;
  color: #2b3553 !important;  
  transition: 0.5s;
}
